.product_wrapper {
    width: 350px;
    height: 450px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: end;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    background: white;
}

.product_img {
    width: 200px;
}

.product_img img {
    display: block;
    width: 100%;
    object-fit: contain;
    position: relative;
    border-radius: 10px;
}

.product_description {
    display: grid;
    justify-content: center;
    padding: 10px;
}

.product_name {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.product_price {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.product_btn a {
    text-decoration: none;
    color: rgb(255, 127, 0);
    opacity: 0.7;
}
.product_btn a:active {
    font-weight: bold;
    opacity: 1;
}
.product_btn a:hover {
    font-weight: bold;
}